.player {
    background-color: lightblue;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.opponentPlayer {
    background-color: lightgray;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 5px;
    padding: 2px;
}

.handCards {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.mobsterCards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
