.wall {
    left: 50px;
    top: 60%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 4px 4px darkorange;
    background: brown;
    background-image: url('../../../assets/img/brick-wall.jpg');
    background-size: cover;
    width: 15%;
    color: #fff;
}
