.card {
    max-width: 100px;
    font-size: 0.3em;
    background-color: beige;
    padding: 0 8px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.4s ease;
    position: relative;
    z-index: 1;
}

.card:hover {
    transform: scale(2);
    z-index: 2;
}

.card img {
    width: 70px;
}

.cardDescription {
    visibility: hidden;
    color: white;
    bottom: 0;
    right: 50%;
    left: 50%;
    font-size: 2em;
    position: absolute;
    width: 110px;
    border: 1px solid gold;
    word-break: break-all;
}

.card:hover .cardDescription {
    visibility: visible;
}

.mobster-red {
    background-color: red;
    color: black;
}
