.cemetery {
    height: 100%;
    width: 100%;
    background: darkolivegreen;
    background-image: url('../../../assets/img/cemetery.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
