.setup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 90%;
    height: 100vh;
    background-color: beige;
}

.createGame {
    border: 1px solid black;
    padding: 15px;
}

.openGamesList {
    width: 40%;
    border: 1px solid black;
    height: 80vh;
}

.inputField {
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.inputField label {
    margin-right: 10px;
}

.createGame > input {
    background-color: lightgray;
    margin: 10px;
    padding: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.gameSelector {
    border: 1px solid black;
    width: 200px;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    background-color: darkorange;
    border-radius: 5px;
}

.gameStatus-open,
.gameStatus-closed {
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.gameStatus-closed {
    background-color: red;
}

.gameStatus-open {
    background-color: green;
}
