.player {
    width: 60%;
    margin: 0 auto;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    height: 30vh;
    background-color: var(--color-main-transparent);
    display: flex;
    justify-content: center;
    border: 1px red solid;
}

.family {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
