* {
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    --color-main: rgba(0, 0, 10, 1);
    --color-main-transparent: rgba(0, 0, 10, 0.7);
    --color-second: rgba(0, 0, 0, 1);
    --color-second: rgba(0, 0, 0, 0.7);
}
