activeplayer {
    border: 1px solid gray;
    width: 100px;
    height: 60px;
    display: block;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
}

activeplayer:first-of-type {
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 120px;
}

activeplayer:nth-of-type(2):last-of-type {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 120px;
}
